
<div class='trip-container container'>
  <%= form_for :forecast, url: '/forecast/search', remote: true do |f| %>
    <%= f.label :from, 'From' %>
    <%= f.text_field :from %>

    <%= f.label :to, 'To' %>
    <%= f.text_field :to %>

    <%= f.submit 'Submit', class: 'btn' %>
  <% end %>

  <div class="row">
    <div class="col-lg-12">
      <h3 class='trip-summary'></h3>
    </div>

    <div class="col-lg-6">
      <div class='start-location'></div>
    </div>

    <div class="col-lg-6">
      <div class='end-location'></div>
    </div>
  </div>
</div>
