<div class='trip-container container'>
  <%= form_for :trip, url: '/trips/search', remote: true do |f| %>
    <%= f.label :from, 'From' %>
    <%= f.text_field :from %>

    <%= f.label :to, 'To' %>
    <%= f.text_field :to %>

    <%= f.submit 'Submit', class: 'btn' %>
  <% end %>

  <div id='weatherTravelApp' />
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"
  type="text/javascript"></script>

<%= javascript_include_tag 'react-bundle', 'data-turbolinks-track' => true %>
